<h1>Answer</h1>

<table>
  <thead>
    <tr>
      <th>乗り物</th>
      <th>掃除</th>
    </tr>
  </thead>

  <tbody>
    <% @user_choices.each do |choice| %>
      <tr>
        <td><%= choice.vehicle %></td>
        <td><%= choice.cleaning %></td>
      </tr>
    <% end %>
  </tbody>
</table>