<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= image_tag dog.image_url, size: '600x500'%></td>
        <td><%= link_to 'Show', dog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Search Dogs', search_dogs_path %>