<p>
  <strong>Name:</strong>
  <%= @dog.name %>
  <strong>Size:</strong>
  <%= @dog.size %>
  <br>
  <strong>image:</strong>
  <%= image_tag @dog.image_url, size: '600x500' %>
</p>

<%= link_to 'Back', dogs_path %>
