    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to image_tag('logo.png'), "/" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto align-items-center">
            <li>
              <%= link_to image_tag('login.png', width: 30), new_user_session_path %>
            </li>
            
            <li>
              <%= link_to "投稿", "#", class: "btn btn-primary" %>
            </li>
            <li>
              <%= link_to image_tag('search.png'), search_dogs_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>