.main-container {
  margin-top: 77px;
  background-image: url('../../assets/images/home.png');
  min-height: 100vh;
  background-size: cover;
  color: #0C244A; 
  font-family: 'Noto Sans JP', sans-serif;
}

div.text {
  padding-left: 20px;
  height: 100%;
  line-height: 0.6
}

.title {
  background: linear-gradient(transparent 70%, #80C0A0 70%);
  font-size: 28px;
  width: 820px;
}

p {
  line-height: normal;
}

h5 {
  text-align: right;
  padding-right: 20px;
}

.conclusion {
  margin-top: 10px;
  background: linear-gradient(transparent 70%, #80C0A0 70%);
  width: 480px;
}

.link a {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  max-width: 240px;
  max-height: 50px;
  padding: 10px 25px;
  color: #0C244A;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.link a::before {
content: '';
position: absolute;
top: -5px;
left: -1px;
width: calc(100% - 1px);
height: calc(100% - 2px);
border: 2px solid #edc97b;
transition: 0.2s;
}

.link a::after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid #0C244A;
border-right: 3px solid #0C244A;
transform: rotate(45deg);
}

.link a:hover::before {
top: 0;
left: 0;
}

.link a:hover {
text-decoration: none;
}