.main-container {
  background-image: url(/images/container.png);
  height: 800px;
  background-size: cover;
  color: #0C244A; 
  font-family: 'Noto Sans JP', sans-serif;
}

.text {
  margin-left: 20px;
}