.main-container {
  margin-top: 77px;
  background-image: url('../../assets/images/home.png');
  min-height: 100vh;
  background-size: cover;
  color: #0C244A; 
  font-family: 'Noto Sans JP', sans-serif;
}

div.text {
  padding-left: 20px;
  height: 100%;
  line-height: 0.6
}

.title {
  background: linear-gradient(transparent 70%, #80C0A0 70%);
  font-size: 28px;
  width: 820px;
}

p {
  line-height: normal;
}

h5 {
  text-align: right;
  padding-right: 20px;
}

.conclusion {
  margin-top: 10px;
  background: linear-gradient(transparent 70%, #80C0A0 70%);
  width: 480px;
}

div.link {
  text-align: right;
  padding-right: 200px;
  font-size: 40px;
}