form.edit_user {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin: auto;
  padding-left: 50px;
}

form.new_user {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin: auto;
  padding-left: 50px;
}

.field {
  display: flex;
}

.form-control {
  width: 500px;
  margin-bottom: 30px;
}

