.user_icon {
  position:relative;
  overflow: hidden;
  width:100px;
  height:100px;
  border-radius:50%;
}
.user_icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}
