.navbar {
  position: absolute;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 60px;
  &__brand {
    height: 35px;
    width: 176px;
    background-size: 114px;
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}